<br/>
<h1> Articles Listing page</h1>
<br/>
    <table class="table table-striped table-bordered table-dark table-hover">
        <thead>
            <tr>
                <th>TITLE</th>
                <th scope="col">DESCRIPTION</th>
                <th colspan="3">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
        <% @articles.each do |article|%>
            <tr>
                <td><p><%= article.title %></p></td>
                <td><p><%= truncate(article.description, length: 50) %></p></td>
                <td><%= link_to "Show" , article_path(article), class:"btn btn-info"%></td>
                <td><%= link_to "edit" , edit_article_path(article.id) ,class:"btn btn-primary"%></td>
                <td><%= link_to "Delete", article_path(article), method: :delete , data: { confirm: "Are you sure?"}, class:"btn btn-danger"%></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <p>
      <%= link_to "Creat new Article", new_article_path,  class:"btn btn-primary"%> 
    </p>